<div id="layout">
    <div class="left">
        <div class="top">
            <div class="content">
                    <p>#React, #Node, #Express, #MongoDB,
                </br>#Socket.IO</p> 
            </div>
            <div class="cross"><i class="material-icons">add</i></div>
        </div>
        <div class="middle">
            <div class="content">

            </div>
        </div>
        <div class="bottom">

            <div class="cross"><i class="material-icons">add</i></div>
            <div class="content">
                Made with heart and tears in Sydney.
            </div>
        </div>
    </div>
    <div id="containerOuter">
        <div class="top">
            <div class="content">
                some content
            </div>

        </div>
        <div id="container">

        </div>
        <div class="bottom">
            <div class="content">
                some content
            </div>
        </div>
    </div>
    <div class="right">
        <div class="top">
            <div class="content">
                <ul>
                    <li>@jeremyarimado</li>
                    <li>https://github.com/doloreel</li>
                </ul>
            </div>
            <div class="cross"><i class="material-icons">add</i></div>
        </div>
        <div class="middle">
            <div class="content">
                some content
            </div>
        </div>
        <div class="bottom">

            <div class="cross"><i class="material-icons">add</i></div>
            <div class="content">
                001
            </div>
        </div>
    </div>
</div>
