<div id="layout">
    <div class="left">
        <div class="top">
            <div class="cross"><i class="material-icons">add</i></div>
        </div>
        <div class="middle"></div>
        <div class="bottom">
            <div class="cross"><i class="material-icons">add</i></div>
        </div>
    </div>
    <div id="containerOuter">
        <div class="top"></div>
        <div id="container" class="middle">
        </div>
        <div class="bottom"></div>
    </div>
    <div class="left">
        <div class="top">
            <div class="cross"><i class="material-icons">add</i></div>
        </div>
        <div class="middle"></div>
        <div class="bottom">
            <div class="cross"><i class="material-icons">add</i></div>
        </div>
    </div>
</div>
