
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* -------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;

}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************************************/
/* END RESET ****************************************/
/****************************************************/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Material/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(fonts/Material/MaterialIcons-Regular.woff2) format('woff2'),
       url(fonts/Material/MaterialIcons-Regular.woff) format('woff'),
       url(fonts/Material/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* GLOBALS ******************************************/

*::-webkit-input-placeholder {
    color: white;
}
*:-moz-placeholder {
    color: white;
}
*::-moz-placeholder {
    color: white;
}
*:-ms-input-placeholder {
    color: white;
}

form {
    display: flex;
}

input, button {
  background:none;
  border:none;
  padding: 0;
  font-size:1em;
  color:blue;
  display: block;
}

input:hover {
    cursor: pointer;
}

/* ENVIRONMENT **************************************/

html {
    display: flex;
    flex-direction: column;
    height: 100%;
	position: relative;
	overflow: auto;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

	color: white;
	overflow: auto;
	height: 100%;
	background: rgb(63, 81, 181);
}

/* MAIN ******************************************/

#layout {
	flex:  1;
	height: 100%;
	display: flex;
	flex-direction: row;
	font-size: 12px;
	font-family: 'Lato';
	font-weight: 100;
}

#layout > div {
	height: 100%;
	/*border: 1px solid green;*/
}

#layout .left, #layout .right {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#layout .top, #layout .middle, #layout .bottom {
	/*border: 1px solid blue;*/

}

#layout .top {
	flex-grow: 1;
}

#layout .middle {
	height: 600px;
}

#layout .bottom {
	flex-grow: 1;
}

#layout .cross {
	/*border: 1px solid yellow;*/
	position: relative;
}

#layout .content {
	/*border: 1px solid black;*/
}

/* ALL GRID DIVS */

#layout .left > div,  #layout .right > div {
	display: flex;
	flex-direction: column;
	padding: 20px;
	font-weight: 100;

}

/* LEFT TOP+BOTTOM, RIGHT TOP+BOTTOM*/

#layout .left > div {
	text-align: right;
}

#layout .left .top {

}

#layout .left .bottom {
	/*background: #ccc;*/
}

#layout .right .top {
	/*background: #ccc;*/
}

#layout .right .bottom {
	/*background: #ccc;*/
}

/* LEFT COLUMN */

/* CROSS ELEMENTS */

#layout .cross {
	display: flex;
}

#layout .cross i {
	font-size: 40px;
}

#layout .left .top .cross, #layout .left .bottom .cross  {

}

#layout .left .cross {

}

#layout .left .cross i {
	margin-left: auto;
}

#layout .left .top .cross {

}

#layout .left .top .cross i {

}

#layout .left .bottom .cross i {

}

#layout .right .cross {

}

#layout .right .top .cross i {

}

#layout .right .bottom .cross i {

}

/*BOTTOM CROSSES*/

#layout .bottom .cross i {
	padding: 0 0 30px 0;
}


/* CONTENT ELEMENTS */

#layout .content a {
	color: white;
}

#layout .left .content {
	flex: 1;
	position: relative;
}

#layout .right .content {
	flex: 1;
	position: relative;
}

/*LEFT*/

#layout .left .top .content, #layout .left .bottom .content  {
	/*background: red;*/
}

#layout .left .content {
	/*background: red;*/
}

#layout .left .top .content {
	/*background: red;*/
	vertical-align: bottom;
}

#layout .left .top .content p{

}

#layout .left .bottom .content {

}

#layout .left .bottom .content i {
	font-size: 13px;
}
/*RIGHT*/


#layout .right .top .content, #layout .right .bottom .content  {

}

#layout .right .content {

}

#layout .right .top .content {

}

#layout .right .top .content p {

}

#layout .right .bottom .content {

}


#containerOuter {
	height: 100%;
	width: 400px;
	display: flex;
	flex-direction: column;;
	justify-content: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 200;
}

#container {
	margin: auto;
	max-height: 600px;
	max-width: 400px;
	width: 100%;
	height: 100%;
	background: rgb(113, 126, 198);
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.83);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.83);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.83);

}

.chatBoxContainer {
    display: flex;
	height: 100%;
    flex-direction: column;
}

.mainContent {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.growContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
	height: 100%;
    font-weight: 200;
}

.mainContent > div {
	flex-grow: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.growContent {
	height: 100%;
	flex: 1;
	overflow: scroll;
}



/* REGISTER + LOGIN BUTTON FORM */

.loginForm {
	flex-direction: column;
	width: 100%;
}

/* MAIN ******************************************/

/* MENU */

.menu {
	display: flex;
	flex-direction: row;
	-webkit-box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.42);
	-moz-box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.42);
	box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.42);
    height: 50px;
}

.menu div {

}

.menu > p {
	padding: 5px 0px 0px 0px;
	font-size: 12px;
	position: absolute;
	top: 20px;
}

.menu a {
	display: block;
	padding: 10px;
	background: #f1c40f;
	color: white;
}

div#backButton {
	position: relative;
	-webkit-box-shadow: 4px 0px 5px -5px rgba(0,0,0,0.79);
	-moz-box-shadow: 4px 0px 5px -5px rgba(0,0,0,0.79);
	box-shadow: 4px 0px 5px -5px rgba(0,0,0,0.79);
}

div#backButton a {

}

.activeUsersWrapper {
	flex: 1;
	width: 100%;
	overflow: hidden;
	background: #f1c40f;
	height: 47px;

}

.activeUsers {
	overflow: auto;
	white-space: nowrap;
	padding: 8px 0 11px 0;
}

.activeUsers li {
	display: inline-block;
	padding: 10px;
	border-radius: 50px;
	border: 1px solid white;
	margin-right: 10px;
	font-size: 10px;
	letter-spacing: 1px;
}

ul.controls {
	margin-left: auto;
	-webkit-box-shadow: -4px 0px 5px -5px rgba(0,0,0,0.79);
	-moz-box-shadow: -4px 0px 5px -5px rgba(0,0,0,0.79);
	box-shadow: -4px 0px 5px -5px rgba(0,0,0,0.79);
}

ul.controls li {
	display: inline-block;
}

ul.controls li a {

}


/* PAGES *********************************************/

/* HOME */

.homeContainer {
	display: flex;
	flex-direction: column;
}

.homeContainer .logoContainer {
	text-align: center;
	padding: 30px;
	flex-grow: 1;
	margin-top: 40px;

}

.homeContainer .logoContainer .logo {
	font-size: 70px;
	font-weight: 900;
	letter-spacing: 3px;
}

.homeContainer .logoContainer .description {
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 500;
}

.homeContainer .homeLinks {
}


.homeContainer .homeLinks a {
	background: #f1c40f;
	color: white;
	padding: 20px;
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
	display: inline;
	display: block;
	text-align: center;
	-webkit-box-shadow: 0px -2px 1px -1px rgba(0,0,0,0.21);
	-moz-box-shadow: 0px -2px 1px -1px rgba(0,0,0,0.21);
	box-shadow: 0px -2px 1px -1px rgba(0,0,0,0.21);
}


/* REGISTER AND LOGIN SCREEN ********************* */

.registerContainer form {
	margin-top: 10px;
}

.registerContainer form input[type=text] {
    display: block;
    padding: 20px;
    color: white;
    margin: 20px 20px 0px 20px;
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.51);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.registerContainer form input:-webkit-input-placeholder {
	color:white;
}


.registerContainer form input[type=text]:focus {
    background-color: none;
    outline: none;
}

/* BOTTOM FORM ***************************************/

/* REGISTER + LOGIN BUTTON */

.bottomForm {
	flex-direction: column;
	width: 100%;
}

.bottomForm input {
	flex: 1;
}


.fullButton {
    padding: 15px;
    width: 100%;
    background: #f1c40f;
    color: white;
	-webkit-box-shadow: 0px -3px 2px -2px rgba(0,0,0,0.42);
	-moz-box-shadow: 0px -3px 2px -2px rgba(0,0,0,0.42);
	box-shadow: 0px -3px 2px -2px rgba(0,0,0,0.42);
}

.fullButton:hover {
    background: rgb(172, 172, 172);
}



/* CHAT FORM */

.chatForm {
	/*display: fixed;
	position: absolute;
	left: 0;
	bottom: 0;*/
	width: 100%;
	background: #f1c40f;
	-moz-box-shadow: 0px -3px 2px -2px rgba(0,0,0,0.42);
	box-shadow: 0px -3px 2px -2px rgba(0,0,0,0.42);
	overflow: hidden;
}

.chatFormInner {
	width: 100%;
	display: flex;
	flex-direction: row;
	color: white;

}

.chatFormInner .messageFieldWrapper {
		flex-grow: 1;
		position: relative;
		display: flex;
}

.chatForm .chatFormInner input {
	padding: 20px;
	position: relative;
	width: 100%;
}

.chatForm .chatFormInner .shade:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -15px;
  right: 0;
  pointer-events: none;
  background-image: linear-gradient(to right, rgba(241, 196, 14,0), rgba(241, 196, 14, 1) 100%);
  width: 200px;
  height: 4em;
}


.chatForm .chatFormInner input[type=text] {
	color: white;

}

.chatForm .chatFormInner input[type=text]:focus {
	outline: none;
}

.chatForm .chatFormInner button {
	width: 80px;
	background: #f1c40f;
	color: white;
}



/* USERLIST ******************************************/

.users {

}

.users ul {
	list-style-type: none;
	flex-grow: 1;
}

.users ul li {
	display: flex;
	flex-direction: row;
	padding: 20px;

}

.users ul li:hover {
	background: #cf8646;
}


.users ul li input {
	margin-left: auto;
}


/* CHATLIST ******************************************/

.membersList {
	font-size: 12px;
}

/* CHAT ******************************************/

.convoContainer {

}

.convo {

}

.convo p {
    padding: 20px;
    border-bottom: 1px solid rgb(246, 246, 246);
}
